name: Run with Parameter

on:
  workflow_dispatch:
    inputs:
      api_param:
        description: 'Parameter from Vercel'
        required: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Print parameter
        run: echo "Parameter from Vercel: ${{ github.event.inputs.api_param }}"
